:root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
        "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
        "Source Han Sans CN", sans-serif;
}

.main-container {
    overflow: hidden;
}

.main-container,
.main-container * {
    box-sizing: border-box;
}

input,
select,
textarea,
button {
    outline: 0;
}

.main-container {
    position: relative;
    width: 1728px;
    height: 1117px;
    margin: 0 auto;
    background: #e0f7fa;
    overflow: hidden;
}
.section {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 1728px;
    height: 147px;
    top: 0;
    left: 0;
    background: #d9d9d9;
    border: 1px solid rgba(0, 0, 0, 0);
    z-index: 6;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.text {
    flex-shrink: 0;
    position: relative;
    height: 76px;
    color: #000000;
    font-family: Alata, var(--default-font-family);
    font-size: 50px;
    font-weight: 400;
    line-height: 69px;
    text-align: left;
    white-space: nowrap;
    z-index: 6;
}
.wrapper {
    position: absolute;
    width: 100.75%;
    height: 82.63%;
    top: 11.46%;
    left: -0.75%;
    z-index: 69;
}
.pic {
    position: absolute;
    width: 9.3%;
    height: 25.03%;
    top: 0;
    left: 4.08%;
    background: url('../images/1.png')
        no-repeat center;
    background-size: cover;
    z-index: 16;
}
.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 8px;
    position: absolute;
    width: 15.97%;
    height: 20.8%;
    top: 2.06%;
    left: 0.75%;
    background: #ffc107;
    border: 1px solid #000000;
    z-index: 13;
    overflow: hidden;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.group {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    gap: 8px;
    position: relative;
    min-width: 0;
    min-height: 0;
    padding: 10px 24px 10px 24px;
    z-index: 14;
}
.text-2 {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 20px;
    color: #ffffff;
    font-family: Roboto, var(--default-font-family);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    white-space: nowrap;
    letter-spacing: 0.1px;
    z-index: 15;
}
.section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 8px;
    position: absolute;
    width: 15.97%;
    height: 20.8%;
    top: 2.49%;
    left: 84.03%;
    background: #ffc107;
    border: 1px solid #000000;
    z-index: 23;
    overflow: hidden;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.box-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    gap: 8px;
    position: relative;
    min-width: 0;
    min-height: 0;
    padding: 10px 24px 10px 24px;
    z-index: 24;
}
.text-3 {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 20px;
    color: #ffffff;
    font-family: Roboto, var(--default-font-family);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    white-space: nowrap;
    letter-spacing: 0.1px;
    z-index: 25;
}
.img {
    position: absolute;
    width: 1253px;
    height: 766px;
    top: 28px;
    left: 269px;
    background: url('../images/8.png') no-repeat center;
    background-size: cover;
    z-index: 69;
}


#displayImage, #displayVideo {
    position: absolute; /* Posiciona ambos dentro de .img */
    top: 60px; /* Ajusta hacia abajo */
    left: 150px; /* Ajusta hacia la izquierda */
    width: 600px; /* Ajusta el tamaño de la imagen */
    height: auto; /* Mantén la proporción de la imagen */
    z-index: 70; /* Asegúrate de que esté encima del fondo */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para mejorar visibilidad */
}

#displayVideo {
    display: none; /* Oculta el video inicialmente */
    background: #000; /* Fondo negro mientras se carga */
}

.pic-2 {
    position: absolute;
    width: 10.34%;
    height: 19.72%;
    top: 3.03%;
    left: 87.42%;
    background: url('../images/5.png')
        no-repeat center;
    background-size: cover;
    z-index: 26;
}
.pic-3 {
    position: absolute;
    width: 15.74%;
    height: 23.62%;
    top: 23.29%;
    left: 0;
    background: url('../images/4.png')
        no-repeat center;
    background-size: cover;
    z-index: 11;
}
.box-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 8px;
    position: absolute;
    width: 15.97%;
    height: 20.8%;
    top: 24.7%;
    left: 0.75%;
    background: #ffc107;
    border: 1px solid #000000;
    z-index: 8;
    overflow: hidden;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.group-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    gap: 8px;
    position: relative;
    min-width: 0;
    min-height: 0;
    padding: 10px 24px 10px 24px;
    z-index: 9;
}
.text-4 {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 20px;
    color: #ffffff;
    font-family: Roboto, var(--default-font-family);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    white-space: nowrap;
    letter-spacing: 0.1px;
    z-index: 10;
}
.box-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 8px;
    position: absolute;
    width: 15.97%;
    height: 20.8%;
    top: 24.7%;
    left: 84.03%;
    background: #ffc107;
    border: 1px solid #000000;
    z-index: 1;
    overflow: hidden;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.wrapper-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    gap: 8px;
    position: relative;
    min-width: 0;
    min-height: 0;
    padding: 10px 24px 10px 24px;
    z-index: 2;
}
.text-5 {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 20px;
    color: #ffffff;
    font-family: Roboto, var(--default-font-family);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    white-space: nowrap;
    letter-spacing: 0.1px;
    z-index: 3;
}
.pic-4 {
    position: absolute;
    width: 9.48%;
    height: 19.18%;
    top: 25.79%;
    left: 87.82%;
    background: url('../images/6.png')
        no-repeat center;
    background-size: cover;
    z-index: 4;
}
.wrapper-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 8px;
    position: absolute;
    width: 15.97%;
    height: 20.8%;
    top: 47.35%;
    left: 0.75%;
    background: #ffc107;
    border: 1px solid #000000;
    z-index: 18;
    overflow: hidden;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.wrapper-4 {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    gap: 8px;
    position: relative;
    min-width: 0;
    min-height: 0;
    padding: 10px 24px 10px 24px;
    z-index: 19;
}
.text-6 {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 20px;
    color: #ffffff;
    font-family: Roboto, var(--default-font-family);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    white-space: nowrap;
    letter-spacing: 0.1px;
    z-index: 20;
}
.group-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 8px;
    position: absolute;
    width: 15.97%;
    height: 20.8%;
    top: 47.35%;
    left: 84.03%;
    background: #ffc107;
    border: 1px solid #000000;
    z-index: 28;
    overflow: hidden;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.section-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    gap: 8px;
    position: relative;
    min-width: 0;
    min-height: 0;
    padding: 10px 24px 10px 24px;
    z-index: 29;
}
.text-7 {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 20px;
    color: #ffffff;
    font-family: Roboto, var(--default-font-family);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    white-space: nowrap;
    letter-spacing: 0.1px;
    z-index: 30;
}
.pic-5 {
    position: absolute;
    width: 10.11%;
    height: 20.91%;
    top: 47.45%;
    left: 87.82%;
    background: url('../images/3.png')
        no-repeat center;
    background-size: cover;
    z-index: 31;
}
.img-2 {
    position: absolute;
    width: 15.45%;
    height: 19.72%;
    top: 48.43%;
    left: 0;
    background: url('../images/11.png')
        no-repeat center;
    background-size: cover;
    z-index: 21;
}
.wrapper-5 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 10px;
    position: absolute;
    width: 1239px;
    height: 212px;
    top: 711px;
    left: 290px;
    padding: 10px 10px 10px 10px;
    z-index: 32;
}
.wrapper-6 {
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    min-width: 0;
    height: 192px;
    background: #92c2e0;
    z-index: 33;
    border-radius: 100px;
}
.pic-6 {
    position: absolute;
    width: 6.84%;
    height: 15.38%;
    top: 80.72%;
    left: 43.31%;
    background: url('../images/gris.png')
        no-repeat center;
    background-size: cover;
    z-index: 61;
}
.wrapper-7 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    position: absolute;
    width: 11.09%;
    height: 15.17%;
    top: 80.72%;
    left: 63.24%;
    z-index: 45;
}
.box-5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 8px;
    position: relative;
    width: 193px;
    height: 140px;
    background: #dace23;
    z-index: 46;
    overflow: hidden;
    border-radius: 100px;
}
.group-4 {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    gap: 8px;
    position: relative;
    min-width: 0;
    min-height: 0;
    padding: 10px 24px 10px 24px;
    z-index: 47;
}
.text-8 {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 20px;
    color: #ffffff;
    font-family: Roboto, var(--default-font-family);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    white-space: nowrap;
    letter-spacing: 0.1px;
    z-index: 48;
}
.box-6 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    position: absolute;
    width: 11.09%;
    height: 15.17%;
    top: 80.72%;
    left: 74.21%;
    z-index: 39;
}
.box-7 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 8px;
    position: relative;
    width: 193px;
    height: 140px;
    background: #dace23;
    z-index: 40;
    overflow: hidden;
    border-radius: 100px;
}
.wrapper-8 {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    gap: 8px;
    position: relative;
    min-width: 0;
    min-height: 0;
    padding: 10px 24px 10px 24px;
    z-index: 41;
}
.text-9 {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 20px;
    color: #ffffff;
    font-family: Roboto, var(--default-font-family);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    white-space: nowrap;
    letter-spacing: 0.1px;
    z-index: 42;
}
.img-3 {
    position: absolute;
    width: 7.35%;
    height: 13.65%;
    top: 80.72%;
    left: 76.05%;
    background: url('../images/camara.png')
        no-repeat center;
    background-size: cover;
    z-index: 43;
}
.pic-7 {
    position: absolute;
    width: 7.01%;
    height: 15.38%;
    top: 80.82%;
    left: 54.16%;
    background: url('../images/deteccion.png')
        no-repeat center;
    background-size: cover;
    z-index: 55;
}
.group-5 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    position: absolute;
    width: 193px;
    height: 140px;
    top: 747px;
    left: 333px;
    z-index: 34;
}
.wrapper-9 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 8px;
    position: relative;
    width: 193px;
    height: 140px;
    background: #dace23;
    z-index: 35;
    overflow: hidden;
    border-radius: 100px;
}
.section-4 {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    gap: 8px;
    position: relative;
    min-width: 0;
    min-height: 0;
    padding: 10px 24px 10px 24px;
    z-index: 36;
}
.text-a {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 20px;
    color: #ffffff;
    font-family: Roboto, var(--default-font-family);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    white-space: nowrap;
    letter-spacing: 0.1px;
    z-index: 37;
}
.group-6 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    position: absolute;
    width: 11.09%;
    height: 15.17%;
    top: 80.93%;
    left: 30.1%;
    z-index: 64;
}
.group-7 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 8px;
    position: relative;
    width: 193px;
    height: 140px;
    background: #dace23;
    z-index: 65;
    overflow: hidden;
    border-radius: 100px;
}
.group-8 {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    gap: 8px;
    position: relative;
    min-width: 0;
    min-height: 0;
    padding: 10px 24px 10px 24px;
    z-index: 66;
}
.text-b {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 20px;
    color: #ffffff;
    font-family: Roboto, var(--default-font-family);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    white-space: nowrap;
    letter-spacing: 0.1px;
    z-index: 67;
}
.box-8 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    position: absolute;
    width: 11.09%;
    height: 15.17%;
    top: 80.93%;
    left: 41.18%;
    z-index: 57;
}
.wrapper-a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 8px;
    position: relative;
    width: 193px;
    height: 140px;
    background: #dace23;
    z-index: 58;
    overflow: hidden;
    border-radius: 100px;
}
.section-5 {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    gap: 8px;
    position: relative;
    min-width: 0;
    min-height: 0;
    padding: 10px 24px 10px 24px;
    z-index: 59;
}
.text-c {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 20px;
    color: #ffffff;
    font-family: Roboto, var(--default-font-family);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    white-space: nowrap;
    letter-spacing: 0.1px;
    z-index: 60;
}
.box-9 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    position: absolute;
    width: 11.09%;
    height: 15.17%;
    top: 81.04%;
    left: 52.15%;
    z-index: 51;
}
.wrapper-b {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 8px;
    position: relative;
    width: 193px;
    height: 140px;
    background: #dace23;
    z-index: 52;
    overflow: hidden;
    border-radius: 100px;
}
.wrapper-c {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    gap: 8px;
    position: relative;
    min-width: 0;
    min-height: 0;
    padding: 10px 24px 10px 24px;
    z-index: 53;
}
.text-d {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 20px;
    color: #ffffff;
    font-family: Roboto, var(--default-font-family);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    white-space: nowrap;
    letter-spacing: 0.1px;
    z-index: 54;
}
.pic-8 {
    position: absolute;
    width: 121px;
    height: 120px;
    top: 757px;
    left: 369px;
    background: url('../images/cargar.png')
        no-repeat center;
    background-size: cover;
    z-index: 62;
}
.img-4 {
    position: absolute;
    width: 7.87%;
    height: 12.57%;
    top: 82.23%;
    left: 31.71%;
    background: url('../images/color.png')
        no-repeat center;
    background-size: cover;
    z-index: 68;
}
.img-5 {
    position: absolute;
    width: 6.15%;
    height: 11.59%;
    top: 82.56%;
    left: 65.71%;
    background: url('../images/descarga.png')
        no-repeat center;
    background-size: cover;
    z-index: 49;
}
button {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; 
    background-color: transparent; 
}
button {
    all: unset; 
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; 
}

button:active {
    background-color: #8a8213; 
}





